<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Lärarkön</title>
    <script src="javascript.js"></script>
    <link href="mystyle.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<form action="/submissions">
    <input type="submit" value="Ställ dig i kö"/>
</form>
<form action="/logout">
    <input type="submit" value="Logga ut"/>
</form>
<br/>
<br/>
<h1>Nuvarande kö:</h1>
<table style="width:50%">
    <tr>
        <td>Elev</td>
        <td>Rum</td>
        <td>Ärende</td>
    </tr>
    <tr th:each="queueitem : ${queue}">
        <td th:text="${queueitem.studentName}"></td>
        <td th:text="${queueitem.location}"></td>
        <td th:text="${queueitem.question}"></td>
        <td> <form th:action="@{/delete/{id}/(id=${queueitem.id})}" method="post"><input type="submit" value="Ta bort"/></form></td>
        <td><button onclick="myFunction()">Hjälp</button></td>
        <td id="helpingnow">Får hjälp</td>
    </tr>
</table>
</body>
</html>