<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Lärarkön</title>
    <!--<script src="javascript.js"></script>-->
    <link href="mystyle.css" rel="stylesheet" type="text/css" media="screen"/>
</head>
<body>
<form action="/submissions">
    <input type="submit" value="Ställ dig i kö" class="awesomebuttons"/>
</form>
<form action="/logout">
    <input type="submit" value="Logga ut" class="awesomebuttons"/>
</form>
<br/>
<br/>
<h1>Nuvarande kö</h1>
<div class="tablecontainer">
<table style="width:70%">
    <tr>
        <td>Elev</td>
        <td>Rum</td>
        <td>Ärende</td>
        <td>Status</td>
    </tr>
    <tr th:each="queueitem : ${queue}">
        <td th:text="${queueitem.studentName}"></td>
        <td th:text="${queueitem.location}"></td>
        <td th:text="${queueitem.question}"></td>
        <td th:text="${queueitem.status}"></td>
        <td><form th:action="@{/delete/{id}/(id=${queueitem.id})}" method="post"><input type="submit" value="Ta bort" class="awesomebuttons"/></form></td>
        <td><form th:action="@{/help/{id}/(id=${queueitem.id})}" method="post"><input type="submit" value="Hjälp eleven" class="awesomebuttons"/></form></td>
    </tr>
</table>
</div>
</body>
</html>